body {
    font-family: roboto;
}

.hero,
.footer {
    background-color: #1F2937;
    color: whitesmoke;
    padding-left: 15%;
    padding-right: 15%;
}

.logo {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.upper,
.leftlinks {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 30px;
}


.lowerhero {
    display: flex;
    padding-bottom: 150px;
    padding-top: 150px;
    gap: 100px;

}

.one {
    font-size: 96px;
    font-weight: bolder;
    color: #f9faf8;
}

.two {
    font-size: 36px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    font-size: 30px;
    color: white;
    border-radius: 15px;
    width: 200px;
    height: 60px;
}

.imagebox {
    width: 2000px;
    height: 500px;
    font-size: 30px;
    display: flex;
    background-color: #6d747d;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.headerleft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    text-align: center;
    font-size: 72px;
    color: #1F2937;
    padding: 50px;
    font-weight: bolder;

}

.boxes {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: space-between;
    padding-bottom: 100px;

}

.caption {
    padding-top: 10px;
    font-size: 32px;
    color: #6d747d;
}

.box {
    max-width: 300px;
    text-align: center;
}

.square {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: #3882f6;
    border-width: 8px;
    border-radius: 40px;
}

.lowermiddle {
    background-color: #e5e7eb;
    padding-left: 22%;
    padding-right: 22%;
    padding-top: 7%;
    padding-bottom: 7%;
    color: #1F2937;
}

.quote {
    text-align: left;
    font-size: 72px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    text-align: end;
    padding-right: 40px;
    font-weight: bold;
    font-size: 48px;
}

.callta {
    display: flex;
    background-color: #3882f6;
    color: #e5e7eb;
    margin: 5% 12% 5% 12%;
    justify-content: space-around;
    border-radius: 20px;
    align-items: center;
}

.message {
    padding-top: 100px;
    padding-bottom: 100px;
}

#title {
    font-size: 48px;
    font-weight: bold;
}

#line2 {
    font-size: 36px;
    font-weight: lighter;
}

#signup {
    height: 70px;
    width: 240px;
    border-color: #e5e7eb;
    border-width: 3px;

}

footer {
    height: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 36px;

}