body {
    font-family: roboto;
}

.hero,
.footer {
    background-color: #1F2937;
    color: whitesmoke;
}

.one {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.two {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
}

.leftlinks {
    display: flex;

}

.upper {
    display: flex;
    justify-content: space-around;
}